#partModal-krk.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Krk
      .modal-body
        .part

          .main-info
            %hr.blue

            .bs-callout.bs-callout-info
              %a.example-8-1{"data-lightbox" => "example-8-1", "data-title" => "Molitanový golier - vzor Schantzov golier", :href => "images/body/krk/ortezy_krcnej_chrbtice1.jpg"}
                %img.left{:src=>"images/body/krk/ortezy_krcnej_chrbtice1.png"}
              .text
                %h3
                  %b Molitanový golier - vzor Schantzov golier
                %ul.list
                  %li
                    %b Indikácia:
                    tortikolis, doliečovanie poúrazových stavov, distorzie stavcov, oslabenie oporyschopnosti C chrbtice, degeneratívne ochorenia stavcov a medzistavcových platničiek, CC a CB syndróm.
                %br

            .bs-callout.bs-callout-info
              %a.example-8-2{"data-lightbox" => "example-8-2", "data-title" => "Golier Philadephia", :href => "images/body/krk/ortezy_krcnej_chrbtice2.jpg"}
                %img.left{:src=>"images/body/krk/ortezy_krcnej_chrbtice2.png"}
              .text
                %h3
                  %b Golier Philadephia
                %ul.list
                  %li
                    %b Indikácia:
                    fraktúry, MTS, distorsie, spondyloartrózy.
                %br
                %br

            .bs-callout.bs-callout-info
              %a.example-8-3{"data-lightbox" => "example-8-3", "data-title" => "Fixačná krčná ortéza s hrudnou oporou", :href => "images/body/krk/ortezy_krcnej_chrbtice3.jpg"}
                %img.left{:src=>"images/body/krk/ortezy_krcnej_chrbtice3.png"}
              .text
                %h3
                  %b Fixačná krčná ortéza s hrudnou oporou
                %ul.list
                  %li
                    %b Indikácia:
                    odľahčenie a stabilita stavcov nad Th6, pooperačné a poúrazové stavy nad Th6, dlhodobá fixácia a stabilizácia v oblasti C chrbtice.
                %br



            .bs-callout.bs-callout-info
              %a.example-8-4{"data-lightbox" => "example-8-4", "data-title" => "Plastový golier", :href => "images/body/krk/ortezy_krcnej_chrbtice4.jpg"}
                %img.left{:src=>"images/body/krk/ortezy_krcnej_chrbtice4.png"}
              .text
                %h3
                  %b Plastový golier
                %ul.list
                  %li
                    %b Indikácia:
                    fraktúry v oblasti C chrbtice, MTS, distorsie, tortokolis.
                %br
                %br


        .modal-footer
          %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť