#partModal-laket.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Lakeť
      .modal-body
        .part

          .main-info
            %hr.blue

            .bs-callout.bs-callout-info
              %a.example-6-1{"data-lightbox" => "example-6-1", "data-title" => "Lakťová ortéza", :href => "images/body/laket/ortezy_hornych_koncatin4.jpg"}
                %img.left{:src=>"images/body/laket/ortezy_hornych_koncatin4.png"}
              .text
                %h3
                  %b Lakťová ortéza
                %ul.list
                  %li
                    %b Charakteristika:
                    nastaviteľný rozsah pohybu v lakťovom kĺbe F. – E.
                  %li
                    %b Indikácia:
                    po operačné a po úrazové stavy.
                %br

            .bs-callout.bs-callout-info
              %a.example-6-2{"data-lightbox" => "example-6-2", "data-title" => "Lakťová ortéza s aretovateľným kĺbom", :href => "images/body/laket/ortezy_hornych_koncatin5.jpg"}
                %img.left{:src=>"images/body/laket/ortezy_hornych_koncatin5.png"}
              .text
                %h3
                  %b Lakťová ortéza s aretovateľným kĺbom
                %ul.list
                  %li
                    %b Charakteristika:
                    nastaviteľný rozsah pohybu v lakťovom kĺbe F. – E.
                  %li
                    %b Indikácia:
                    po operačné a po úrazové stavy.
                %br

            .bs-callout.bs-callout-info
              %a.example-6-3{"data-lightbox" => "example-6-3", "data-title" => "Epicondylická páska", :href => "images/body/laket/ortezy_hornych_koncatin6.jpg"}
                %img.left{:src=>"images/body/laket/ortezy_hornych_koncatin6.png"}
              .text
                %h3
                  %b Epicondylická páska
                %ul.list
                  %li
                    %b Charakteristika:
                    zníženie ťahu svalov v mieste ich úponu.
                  %li
                    %b Indikácia:
                    epicondylitídy, tenisový lakeť, golfový lakeť.
                %br

            .bs-callout.bs-callout-info
              %a.example-6-4{"data-lightbox" => "example-6-4", "data-title" => "Lakťová ortéza ", :href => "images/body/laket/ortezy_hornych_koncatin13.jpg"}
                %img.left{:src=>"images/body/laket/ortezy_hornych_koncatin13.png"}
              .text
                %h3
                  %b Lakťová ortéza
                %ul.list
                  %li
                    %b Indikácia:
                    po úrazové stavy, vrodené malformácie, lekčné kontraktúry, artrotické stavy, MTS.
                %br


            .bs-callout.bs-callout-info
              %a.example-6-5{"data-lightbox" => "example-6-5", "data-title" => "Lakťová ortéza s ohybom", :href => "images/body/laket/ortezy_hornych_koncatin17.jpg"}
                %img.left{:src=>"images/body/laket/ortezy_hornych_koncatin17.png"}
              .text
                %h3
                  %b Lakťová ortéza s ohybom
                %ul.list
                  %li
                    %b Indikácia:
                    lekčné kontraktúry v lakťovom kĺbe, zväčšenie extenzie.
                %br
                %br


        .modal-footer
          %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť