#partModal-koleno.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Chodidlo
      .modal-body
        .part
          .main-info

            %ul.nav.nav-pills
              %li.active
                %a{"data-toggle" => "pill", :href => "#bandage"} Ortézy bandážneho typu - liečebné
              %li
                %a{"data-toggle" => "pill", :href => "#non-bandage"} Ortézy nebandážneho typu - liečebné

            %hr.blue
            .tab-content
              #bandage.tab-pane.fade.in.active

                .bs-callout.bs-callout-info
                  %a.example-2-1{"data-lightbox" => "example-2-1", "data-title" => "Peroneálna páska", :href => "images/body/koleno/1/ortezy_dolnych_koncatin2.jpg"}
                    %img.left{:src=>"images/body/koleno/1/ortezy_dolnych_koncatin2_small.png"}
                  .text
                    %h3
                      %b Peroneálna páska
                    %ul.list
                      %li
                        %b Indikácia:
                        laesio n. fibularis, padavá noha.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-2-2{"data-lightbox" => "example-2-2", "data-title" => "Peroneálna páska", :href => "images/body/koleno/1/ortezy_dolnych_koncatin7.jpg"}
                    %img.left{:src=>"images/body/koleno/1/ortezy_dolnych_koncatin7_small.png"}
                  .text
                    %h3
                      %b Infrapatellárna páska
                    %ul.list
                      %li
                        %b Indikácia:
                        chondromalatio patelly, enthesopatie, luxácia patelly, doliečovanie M. Osgood-Schlatter, po operačných zákrokoch v oblasti patelly, femoropatell. artróza.

                .bs-callout.bs-callout-info
                  %a.example-2-3{"data-lightbox" => "example-2-3", "data-title" => "Fixačná kolenná ortéza", :href => "images/body/koleno/1/ortezy_dolnych_koncatin9.jpg"}
                    %img.left{:src=>"images/body/koleno/1/ortezy_dolnych_koncatin9_small.png"}
                  .text
                    %h3
                      %b Fixačná kolenná ortéza
                    %ul.list
                      %li
                        %b Indikácia:
                        po úrazové a po operačné stavy kolena, udržiavanie DK v extenzii.
                    %br

                .bs-callout-2.bs-callout-info
                  %a.example-2-4{"data-lightbox" => "example-2-4", "data-title" => "Kolenná ortéza s aretovateľným kĺbom", :href => "images/body/koleno/1/ortezy_dolnych_koncatin10.jpg"}
                    %img.left{:src=>"images/body/koleno/1/ortezy_dolnych_koncatin10_small.png"}
                  .text
                    %h3
                      %b Kolenná ortéza s aretovateľným kĺbom
                    %ul.list
                      %li
                        %b Charakteristika:
                        možnosť nastavenia rozsahu pohybu v kolennom kĺbe.
                      %li
                        %b Indikácia:
                        po úrazové a po operačné stavy v oblasti kolena.

                .bs-callout-2.bs-callout-info
                  %a.example-2-5{"data-lightbox" => "example-2-5", "data-title" => "Kolenná ortéza neoprénová zapínacia", :href => "images/body/koleno/1/ortezy_dolnych_koncatin11.jpg"}
                    %img.left{:src=>"images/body/koleno/1/ortezy_dolnych_koncatin11_small.png"}
                  .text
                    %h3
                      %b Kolenná ortéza neoprénová zapínacia
                    %ul.list
                      %li
                        %b Indikácia:
                        po úrazové a po operačné stavy, instabilita, gonartróza, genua valga, genua vara, genus recurvatum, uplatnenie v rehabilitácii, po zápalové a reumatické poškodenie kolena, synovitidy, osteochondrosis dissecans.

                .bs-callout.bs-callout-info
                  %a.example-2-6{"data-lightbox" => "example-2-6", "data-title" => "Kolenná ortéza neoprénová polonavliekacia", :href => "images/body/koleno/1/ortezy_dolnych_koncatin12.jpg"}
                    %img.left{:src=>"images/body/koleno/1/ortezy_dolnych_koncatin12_small.png"}
                  .text
                    %h3
                      %b Kolenná ortéza neoprénová polonavliekacia
                    %ul.list
                      %li
                        %b Indikácia:
                        po úrazové a po operačné stavy, instabilita, gonartróza, genua valga, genua vara, genus recurvatum, uplatnenie v rehabilitácii, po zápalové a reumatické poškodenie kolena, synovitidy, osteochondrosis dissecans.

                .bs-callout.bs-callout-info
                  %a.example-2-7{"data-lightbox" => "example-2-7", "data-title" => "Kolenná ortéza neoprénová navliekacia", :href => "images/body/koleno/1/ortezy_dolnych_koncatin13.jpg"}
                    %img.left{:src=>"images/body/koleno/1/ortezy_dolnych_koncatin13_small.png"}
                  .text
                    %h3
                      %b Kolenná ortéza neoprénová navliekacia
                    %ul.list
                      %li
                        %b Indikácia:
                        po úrazové a po operačné stavy, instabilita, gonartróza, genua valga, genua vara, genus recurvatum, uplatnenie v rehabilitácii, po zápalové a reumatické poškodenie kolena, synovitidy, osteochondrosis dissecans.

                .bs-callout.bs-callout-info
                  %a.example-2-8{"data-lightbox" => "example-2-8", "data-title" => "Kolenná ortéza gumotextilná", :href => "images/body/koleno/1/ortezy_dolnych_koncatin14.jpg"}
                    %img.left{:src=>"images/body/koleno/1/ortezy_dolnych_koncatin14_small.png"}
                  .text
                    %h3
                      %b Kolenná ortéza gumotextilná
                    %ul.list
                      %li
                        %b Indikácia:
                        po úrazové a po operačné stavy, instabilita, gonartróza, genua valga, genua vara, genus recurvatum, uplatnenie v rehabilitácii, po zápalové a reumatické poškodenie kolena, synovitidy, osteochondrosis dissecans.





              #non-bandage.tab-pane.fade

                .bs-callout.bs-callout-info
                  %a.example-2-9{"data-lightbox" => "example-2-9", "data-title" => "Plastová ortéza - vzor Sarmient", :href => "images/body/koleno/2/ortezy_dolnych_koncatin16.jpg"}
                    %img.left{:src=>"images/body/koleno/2/ortezy_dolnych_koncatin16_small.png"}
                  .text
                    %h3
                      %b Plastová ortéza - vzor Sarmient
                    %ul.list
                      %li
                        %b Charakteristika:
                        ortéza s objímkou predkolenia prípadne stehna, možnosť aplikácie 14 dní po úraze, dostatočná fixácia, možnosť drenáže, preplachov, preväzov, možnosť zaťažovať DK bez použitia bariel, možnosť RHB, prepúšťa RTG žiarenie.
                      %li
                        %b Indikácia:
                        doliečovanie fraktúr a pseudoartróz stehna a predkolenia, patologické fraktúry.

                .bs-callout.bs-callout-info
                  %a.example-2-9{"data-lightbox" => "example-2-9", "data-title" => "Stehenná ortéza", :href => "images/body/koleno/2/ortezy_dolnych_koncatin18.jpg"}
                    %img.left{:src=>"images/body/koleno/2/ortezy_dolnych_koncatin18_small.png"}
                  .text
                    %h3
                      %b Stehenná ortéza
                    %ul.list
                      %li
                        %b Indikácia:
                        fraktúra femoris, cysty, osteotómia.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-2-10{"data-lightbox" => "example-2-10", "data-title" => "Kolenná ortéza", :href => "images/body/koleno/2/ortezy_dolnych_koncatin21.jpg"}
                    %img.left{:src=>"images/body/koleno/2/ortezy_dolnych_koncatin21_small.png"}
                  .text
                    %h3
                      %b Kolenná ortéza
                    %ul.list
                      %li
                        %b Indikácia:
                        náhrada sadrového obväzu, prevencia úrazov, po úrazové stavy mäkkých častí a kostí v oblasti členkového kĺbu (distorzie), doliečovanie fraktúr, po zápalové a po operačné stavy, Sudeck syndróm, artróza

                .bs-callout.bs-callout-info
                  %a.example-2-11{"data-lightbox" => "example-2-11", "data-title" => "Kolenná trojbodová ortéza pre genua valga a vara", :href => "images/body/koleno/2/ortezy_dolnych_koncatin22.jpg"}
                    %img.left{:src=>"images/body/koleno/2/ortezy_dolnych_koncatin22_small.png"}
                  .text
                    %h3
                      %b Kolenná trojbodová ortéza pre genua valga a vara
                    %ul.list
                      %li
                        %b Indikácia:
                        redresia osových výchyliek DK pri genua valga, vara u detí.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-2-12{"data-lightbox" => "example-2-12", "data-title" => "Kolenná trojbodová ortéza pre genua valga a vara", :href => "images/body/koleno/2/ortezy_dolnych_koncatin23.jpg"}
                    %img.left{:src=>"images/body/koleno/2/ortezy_dolnych_koncatin23_small.png"}
                  .text
                    %h3
                      %b Kolenná trojbodová ortéza pre genua valga a vara
                    %ul.list
                      %li
                        %b Indikácia:
                        spastické stavy DK, flekčné kontraktúry, DMO.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-2-13{"data-lightbox" => "example-2-13", "data-title" => "Ortéza objímková dynamická", :href => "images/body/koleno/2/ortezy_dolnych_koncatin25.jpg"}
                    %img.left{:src=>"images/body/koleno/2/ortezy_dolnych_koncatin25_small.png"}
                  .text
                    %h3
                      %b Ortéza objímková dynamická
                    %ul.list
                      %li
                        %b Charakteristika:
                        ortéza so sandálom z plastu, s ohybom v členku, s ťahom prednej časti nohy, fixáciou kolena.
                      %li
                        %b Indikácia:
                        spastické formy DMO.

                .bs-callout.bs-callout-info
                  %a.example-2-14{"data-lightbox" => "example-2-14", "data-title" => "Kolenná ortéza objímková s kolenným uzáverom", :href => "images/body/koleno/2/ortezy_na_chodenie3.jpg"}
                    %img.left{:src=>"images/body/koleno/2/ortezy_na_chodenie3_small.png"}
                  .text
                    %h3
                      %b Kolenná ortéza objímková s kolenným uzáverom
                    %ul.list
                      %li
                        %b Indikácia:
                        fixácia kolenného kĺbu v stoji v extenzii, insuficiencia kolenného kĺbu, prepadávanie do flexie event. do extenzie.

      .modal-footer
        %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť