#partModal-panva.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Panva
      .modal-body
        .part
          .main-info
            %hr.blue

            .bs-callout.bs-callout-info
              %a.example-3-1{"data-lightbox" => "example-2-1", "data-title" => "Pavlíkove remence", :href => "images/body/panva/ortezy_dolnych_koncatin19.jpg"}
                %img.left{:src=>"images/body/panva/ortezy_dolnych_koncatin19.png"}
              .text
                %h3
                  %b Ortéza bedrového kĺbu vzor Spika (krátka po chodidlo alebo dlhá so zachytením chodidla)
                %ul.list
                  %li
                    %b Charakteristika:
                    obmedzenie pohyblivosti resp. vylúčenie nežiadúcich pohybov, imobilizácia, po pridaní predkolennej objímky a strmeňa dôjde k odľahčeniu v oblasti stehna a bedrového kĺbu.
                  %li
                    %b Indikácia:
                    coxartróza, osteotómie panvy, po operačné stavy v oblasti coxy a proximálnej časti stehennej kosti - doliečenie RHB, pseudoartróza, patologické fraktúry.

            .bs-callout.bs-callout-info
              %a.example-3-2{"data-lightbox" => "example-2-2", "data-title" => "Abdukčný prístroj polohovací s kĺbom", :href => "images/body/panva/ortezy_dolnych_koncatin20.jpg"}
                %img.left{:src=>"images/body/panva/ortezy_dolnych_koncatin20.png"}
              .text
                %h3
                  %b Abdukčný prístroj polohovací s kĺbom
                %ul.list
                  %li
                    %b Charakteristika:
                    modifikácia Vavrdovho prístroja, poloha DK v "žabej polohe" - 90o v bedrových kĺboch a kolenách.
                  %li
                    %b Indikácia:
                    LCC, subluxácia bedrových kĺbov.

            .bs-callout.bs-callout-info
              %a.example-2-7{"data-lightbox" => "example-2-7", "data-title" => "Ortéza bedrového kĺbu", :href => "images/body/panva/ortezy_dolnych_koncatin8.jpg"}
                %img.left{:src=>"images/body/panva/ortezy_dolnych_koncatin8.png"}
              .text
                %h3
                  %b Ortéza bedrového kĺbu
                %ul.list
                  %li
                    %b Indikácia:
                    coxartróza (II, III), doliečovanie pooperačných stavov v oblasti coxy a proximálnej časti femoru, po operáciách na mäkkých častiach v tejto oblasti.
                %br

            .bs-callout.bs-callout-info
              %a.example-2-8{"data-lightbox" => "example-2-8", "data-title" => "Pavlíkove remence", :href => "images/body/panva/ortezy_dolnych_koncatin5.jpg"}
                %img.left{:src=>"images/body/panva/ortezy_dolnych_koncatin5.png"}
              .text
                %h3
                  %b Pavlíkove remence
                %ul.list
                  %li
                    %b Indikácia:
                    LCC, subluxácie bedrového kĺbu.
                %br
                %br

        .modal-footer
          %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť
