#partModal-zapastie.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Zápästie
      .modal-body
        .part

          .main-info
            %hr.blue

            .bs-callout.bs-callout-info
              %a.example-5-1{"data-lightbox" => "example-5-1", "data-title" => "Zápästná ortéza", :href => "images/body/zapastie/ortezy_hornych_koncatin1.jpg"}
                %img.left{:src=>"images/body/zapastie/ortezy_hornych_koncatin1.png"}
              .text
                %h3
                  %b Zápästná ortéza
                %ul.list
                  %li
                    %b Charakteristika:
                    znehybnenie zápästného kĺbu, v niektorých prípadoch aj ako náhrada sadrového obväzu, tepelná izolácia.
                  %li
                    %b Indikácia:
                    poúrazové stavy, doliečovanie fraktúr, distorzie, tendovaginitídy, pozápalové stavy, artróza, osteoporóza.

            .bs-callout.bs-callout-info
              %a.example-5-2{"data-lightbox" => "example-5-2", "data-title" => "Prstová ortéza", :href => "images/body/zapastie/ortezy_hornych_koncatin2.jpg"}
                %img.left{:src=>"images/body/zapastie/ortezy_hornych_koncatin2.png"}
              .text
                %h3
                  %b Prstová ortéza
                %ul.list
                  %li
                    %b Indikácia:
                    poranenia prstov, artróza, artritída IP kĺbov, ochorenia šliach.
                %br

            .bs-callout.bs-callout-info
              %a.example-5-3{"data-lightbox" => "example-5-3", "data-title" => "Palcová ortéza", :href => "images/body/zapastie/ortezy_hornych_koncatin3.jpg"}
                %img.left{:src=>"images/body/zapastie/ortezy_hornych_koncatin3.png"}
              .text
                %h3
                  %b Palcová ortéza
                %ul.list
                  %li
                    %b Indikácia:
                    artróza, postihnutie väzov, pseudoartróza, artritída IP kĺbu.
                %br

            .bs-callout.bs-callout-info
              %a.example-5-4{"data-lightbox" => "example-5-4", "data-title" => "Palcová ortéza", :href => "images/body/zapastie/ortezy_hornych_koncatin11.jpg"}
                %img.left{:src=>"images/body/zapastie/ortezy_hornych_koncatin11.png"}
              .text
                %h3
                  %b Palcová ortéza
                %ul.list
                  %li
                    %b Indikácia:
                    artróza CMC kĺbu, poškodenie väzov, distorzia, hypermobilita, pseudoartróza, ixácia tzv. volejbalového palca, artritída drobných kĺbov, stav po fraktúre kostí palca a CMC.




            .bs-callout.bs-callout-info
              %a.example-5-5{"data-lightbox" => "example-5-5", "data-title" => "Zápästná ortéza", :href => "images/body/zapastie/ortezy_hornych_koncatin12.jpg"}
                %img.left{:src=>"images/body/zapastie/ortezy_hornych_koncatin12.png"}
              .text
                %h3
                  %b Zápästná ortéza
                %ul.list
                  %li
                    %b Indikácia:
                    malformácie, stavy po NCPM, DMO, poruchy periférnych nervov (n. radialis, paréza n. medianus), syndróm carpálneho tunela, osteoporóza, artróza, RA a pozápalové procesy, pooperačné stavy, poúrazové stavy, poškodenie väzov a šliach (distorzie a fraktúry).

            .bs-callout.bs-callout-info
              %a.example-5-6{"data-lightbox" => "example-5-6", "data-title" => "Ortéza ruky – vejár", :href => "images/body/zapastie/ortezy_hornych_koncatin15.jpg"}
                %img.left{:src=>"images/body/zapastie/ortezy_hornych_koncatin15.png"}
              .text
                %h3
                  %b Ortéza ruky – vejár
                %ul.list
                  %li
                    %b Charakteristika:
                    redresia dlane a prstov do extenzie.
                  %li
                    %b Indikácia:
                    spastická lexia dlane a prstov, stavy po NCPM, poúrazové stavy, Volcman contractura, poškodenie periférnych nervov, DMO.

            .bs-callout.bs-callout-info
              %a.example-5-7{"data-lightbox" => "example-5-7", "data-title" => "Ortéza prstová aktívna pri lézií šliach ", :href => "images/body/zapastie/ortezy_hornych_koncatin16.jpg"}
                %img.left{:src=>"images/body/zapastie/ortezy_hornych_koncatin16.png"}
              .text
                %h3
                  %b Ortéza prstová aktívna pri lézií šliach
                %ul.list
                  %li
                    %b Indikácia:
                    deviácie prstov pri reumatickej horúčke, poúrazové, pooperačné a pozápalové stavy, spastické kontraktúry (NCPM, DMO), popáleniny, nervovo – cievne lézie.

            .bs-callout.bs-callout-info
              %a.example-5-8{"data-lightbox" => "example-5-8", "data-title" => "Ortéza prstová dynamická", :href => "images/body/zapastie/ortezy_hornych_koncatin18.jpg"}
                %img.left{:src=>"images/body/zapastie/ortezy_hornych_koncatin18.png"}
              .text
                %h3
                  %b Ortéza prstová dynamická
                %ul.list
                  %li
                    %b Indikácia:
                    nervovo – cievne lézie, poúrazové stavy, stavy po operácií šliach.
                %br


        .modal-footer
          %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť
