#partModal-rameno.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Rameno
      .modal-body
        .part

          .main-info
            %hr.blue

            .bs-callout.bs-callout-info
              %a.example-7-1{"data-lightbox" => "example-7-1", "data-title" => "Ramenná ortéza", :href => "images/body/rameno/ortezy_hornych_koncatin7.jpg"}
                %img.left{:src=>"images/body/rameno/ortezy_hornych_koncatin7.png"}
              .text
                %h3
                  %b Ramenná ortéza
                %ul.list
                  %li
                    %b Charakteristika:
                    pôsobí tepelne, zmierňuje bolesť, fixuje ramenný kĺb, čiastočná náhrada Desault obväzu.
                  %li
                    %b Indikácia:
                    po úrazové stavy, fraktúra hlavice ramennej kosti, natrhnutie svalov a šliach, stavy po luxáciách, po operačné stavy.

            .bs-callout.bs-callout-info
              %a.example-7-2{"data-lightbox" => "example-7-2", "data-title" => "Ramenná ortéza vzor Desault", :href => "images/body/rameno/ortezy_hornych_koncatin8.jpg"}
                %img.left{:src=>"images/body/rameno/ortezy_hornych_koncatin8.png"}
              .text
                %h3
                  %b Ramenná ortéza vzor Desault
                %ul.list
                  %li
                    %b Charakteristika:
                    znehybnenie ramenného klbu v základnom postavení, ako náhrada Desault obväzu.
                  %li
                    %b Indikácia:
                    poúrazové stavy, fraktúry, ruptúry svalov, šliach, luxácie, stavy po operáciách, pozápalové stavy.

            .bs-callout.bs-callout-info
              %a.example-7-4{"data-lightbox" => "example-7-4", "data-title" => "závesná kapsa B", :href => "images/body/rameno/ortezy_hornych_koncatin10.jpg"}
                %img.left{:src=>"images/body/rameno/ortezy_hornych_koncatin10.png"}
              %a.example-7-3{"data-lightbox" => "example-7-3", "data-title" => "Závesná kapsa A", :href => "images/body/rameno/ortezy_hornych_koncatin9.jpg"}
                %img.left{:src=>"images/body/rameno/ortezy_hornych_koncatin9.png"}
              .text
                %h3
                  %b Závesná kapsa A a závesná kapsa B
                %ul.list
                  %li
                    %b Indikácia:
                    paraparézy, plégie HK po úrazoch a NCPM, neuralgie, bolestivé rameno.
                %br



            .bs-callout.bs-callout-info
              %a.example-7-5{"data-lightbox" => "example-7-5", "data-title" => "Thorakoabdukčná ramenná ortéza ", :href => "images/body/rameno/ortezy_hornych_koncatin14.jpg"}
                %img.left{:src=>"images/body/rameno/ortezy_hornych_koncatin14.png"}
              .text
                %h3
                  %b Thorakoabdukčná ramenná ortéza
                %ul.list
                  %li
                    %b Charakteristika:
                    fixácia ramena v abdukčnom postavení, s možnosťou nastavenia uhla abdukcie.
                  %li
                    %b Indikácia:
                    pooperačné stavy v ramennom kĺbe vyžadujúce abdukčné postavenie (osteosyntéza, akromio a artro plastika, synovektómia, artrolýza a Sudeck dystrophia).



        .modal-footer
          %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť