#bodySchema
	#lebka.body.body-part{:modal_src=>"lebka"}
		/ %img{:src=>"images/pointer1.png"}

	#krk.body-part{:modal_src=>"krk"}
		%img{:src=>"images/pointer1.png"}

	#rameno.body-part{:modal_src=>"rameno"}
		%img{:src=>"images/pointer1.png"}

	#laket.body-part{:modal_src=>"laket"}
		%img{:src=>"images/pointer1.png"}

	#zapastie.body-part{:modal_src=>"zapastie"}
		%img{:src=>"images/pointer1.png"}

	#chrbat.body-part{:modal_src=>"chrbat"}
		%img{:src=>"images/pointer1.png"}

	#panva.body-part{:modal_src=>"panva"}
		%img{:src=>"images/pointer1.png"}

	#koleno.body-part{:modal_src=>"koleno"}
		%img{:src=>"images/pointer1.png"}

	#clenok.body-part{:modal_src=>"clenok"}
		%img{:src=>"images/pointer1.png"}
